html{
	scroll-behavior: smooth;
	background-image: url('4.jpg');
}
.body{
	background-color: green;
}
.box{
	border: solid white;
	padding-bottom: 20em;
	background-color: white;
	margin: 200px;
	margin-top: 40px;
}

#greeting{
	text-align: center;
	animation-name: greet;
	font-size: xx-large;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
@keyframes greet {
	0% {color: red;}
	25% {color: blue;}
	50% {color: yellow;}
	75% {color: green;}
	100% {color: pink;}
}

.list{
	direction: rtl;
	font-size: 20px;
	padding-right: 100px;
	margin-top: 4em;
}
.separator{
	border-style: dashed;
	border-color: lightblue;
	margin-left: 5em;
	margin-right: 5em;
}


/* The sidepanel menu */
.sidepanel {
  height: 200px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 5px 10px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


.footer{
  background-image: url("4.jpg");
}

#p{
	direction: rtl;
}

#site{
	padding-top: 10em;
}

#new{
	font-size: 20px;
	animation-name: new;
	animation-iteration-count: infinite;
	animation-duration: 40s;
}
@keyframes new{
	0%{margin-left: 3em;}
	50%{margin-left: 40em;}
	100%{margin-left: 3em;}
}

.sites{
	text-decoration: none;
	padding: 85px;
	color: black;
}

.sites:hover{
	color: lightcoral;
}

#copy{
	color: white;
	font-size: 20px;
	text-align: center;
}

.image-container {
    position: relative;
    width: 200px;
    height: 300px;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}