{% extends 'base.html'%}
{% load static%}
{% block title%}تماس با ما{% endblock title%}

{% block content%}
<link href="{% static 'address.css'%}" rel="stylesheet">
<body>
	<p id="p">پیامتان در کمتر از دو روز پاسخ داده میشود.</p>
	<div class="form">
		<form>
			<div id="input">
				<h3 style="text-align: center;">پیام</h3>
				<input class='input' placeholder="نام خود را وارد کنید..." type="text">
				<p id="star">*</p>
				<input id="email" class='input' placeholder="ایمیل خود را وارد کنید..." type="text">
				<textarea class="input" rows="5" placeholder="پیام..."></textarea>
				<p id="help">* گزینه های ستاره دار محفوظ میباشد.</p>
				<button type="submit" id="submit">ارسال</button>
			</div>
		</form>
	</div>
</body>
<div class="footer">
</div>


{% endblock content%}