{% load static%}
<!DOCTYPE html>
<title>{% block title%}خانه{% endblock title%}</title>
<html>
	<head>
		<link href="{% static 'home.css'%}" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="{% static 'home.js'%}"></script>
	</head>
	<div id="mySidepanel" class="sidepanel">
  			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  			<a href="{% url 'home'%}">خانه</a>
  			<a href="{% url 'list'%}">کتاب های بیشتر</a>
  			<a href="#">سایت های دیگر</a>
  			<a href="{% url 'address'%}">تماس با ما</a>
		</div>
			<button class="openbtn" onclick="openNav()">&#9776; بیشتر</button>
		</div>
	{% block content%}

	{% endblock content%}
</html>