{% load static %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
	<title>خانه</title>
	<head>
		<link href="{% static 'home.css'%}" rel="stylesheet">
		<script src="{% static 'home.js'%}"></script>
	</head>
	<body class="body">
		<div id="mySidepanel" class="sidepanel">
  			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  			<a href="{% url 'home'%}">خانه</a>
  			<a href="{% url 'list'%}">کتاب های بیشتر</a>
  			<a href="#site">سایت های دیگر</a>
  			<a href="{% url 'address'%}">تماس با ما</a>
		</div>
		<div class="topnav">
			<div class="search-container">
			</div>
			<button class="openbtn" onclick="openNav()">&#9776; بیشتر</button>
		</div>

		<div class="box">
			<strong><p id="greeting">خوش آمدید</p></strong>
			<ul class ="list">
				<li> کتاب حافظه را تقویت می کند.</li>
				<br/>
				<li>نود درصد مردم کشور های توسعه یافته کتاب میخوانند.</li>
				<br/>
				<li> کتاب  بهترین دوست  شماست.</li>
				<br/>
				<li> کتاب ها فرهنگ جوامع را می سازند.</li>
				<br/>
				<li> کتاب در حال فراموشیست.</li>
			</ul>
			<br/><br/>
			<div class="separator"></div>
			<p id="new">جدیدترین ها</p>
			<div class="image-container">
    			<img src="http://lorempixel.com/300/200" />
    			<div class="after">This is some content</div>
			</div>
  
				<div class="separator"></div>
				<div id="site">
					<p id="p">دیگر سایت های ما:</p>
					<a class="sites" href="#">کتابخانه</a>
					<a class="sites" href="#">شهر کتاب</a>
					<a class="sites" href="#">دنیای کتاب</a>
					<a class="sites" href="#">کتاب اندیشان</a>
				</div>
			</div>
			<div class='footer'>
				<p id="copy">تمام حقوق سایت&copyمتعلق به کتاب است</p>
			</div>
	</body>
</html>