{% extends 'base.html' %}
{% load static%}
{% block title%}کتاب های بیشتر{% endblock title%}

{% block content%}
<link rel="stylesheet" href="{% static 'list.css'%}">
<div class="whole">
<body class="body">
	{% for book in object_list%}
		<div class="book">
			<img src="{{book.image.url}}" width="230" height="280">
			<figcaption class="caption"> نام : {{book.name}}</figcaption>
			<figcaption class="caption"> نویسنده : {{book.author}}</figcaption>
			<figcaption class="caption"><a id="detail" href="{% url 'detail' book.pk%}">جزییات</a></figcaption>
		</div>
	{% endfor%}
</body>
</div>

{% endblock content%}